/* the styles for the elements */
body {
	font-family: sans-serif;
	font-size: 150%;
	float: right;
}
/* the styles for the header*/
:root {
  --global-color-1: #4682b4;
}
header img {
	float: left;
}
header h2 {
	color: var(--global-color-1);
	font-size: 200%;
	text-indent: 30px;
	.shadow { 
	 text-shadow: 2px 2px 2px #4682b4;
	}
}
header h3 {
	text-indent: 30px;
	font-size: 170%;
}
/* the styles for the main content */
a {
  color: maroon;
}
main {
	clear: left;
}


	a:hover, a:focus{
		font-style: ;
}

/* the styles for the footer */
footer {
	text-align: center;
}
