/* the styles for the elements */
body {
	font-family: sans-serif;
}
/* the styles for the header*/
:root {
  --global-color-1: #4682b4;
}
header img {
	float: left;
}
header h3 {
	text-indent: 30px;
	font-size: 130%;
	.shadow { 
	 text-shadow: 2px 2px 4px #4682b4;
}


/* the styles for the main*/





/* the styles for the footer*/
